<h3><%= @movie['Title'] %></h3>
<ul id="movie-attr-list">
	<li><strong>Year:</strong> <%= @movie['Year'] %></li>
	<li><strong>Runtime:</strong> <%= @movie['Runtime'] %></li>
	<li><strong>Genre:</strong> <%= @movie['Genre'] %></li>
	<li><strong>Director(s):</strong> <%= @movie['Director'] %></li>
	<li><strong>Actors:</strong> <%= @movie['Actors'] %></li>
</ul>